<header class="header">
  <div data-testid="secret-number" class="header__secret-number">?</div>
</header>
<main class="game-container">
  <section class="game-info">
    <p data-testid="game-message" class="game-info__message">
      Start guessing...
    </p>
    <p class="game-info__attempts">
      🕹️ Attempts:
      <span data-testid="attempts-available">5</span>
    </p>
    <p class="game-info__score">
      💯 Score:
      <span data-testid="score">0</span>
    </p>
    <p class="game-info__highscore">
      🥇 Highscore: <span data-testid="highscore">0</span>
    </p>
    <p class="game-info__timer">
      ⏱️ Timer: <span data-testid="timer">0.00</span>
    </p>
  </section>
</main>
